<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GrandiCube.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <GrandiCube.MySettings>
            <setting name="q1" serializeAs="String">
                <value />
            </setting>
            <setting name="q2" serializeAs="String">
                <value />
            </setting>
            <setting name="q3" serializeAs="String">
                <value />
            </setting>
            <setting name="q4" serializeAs="String">
                <value />
            </setting>
            <setting name="q5" serializeAs="String">
                <value />
            </setting>
            <setting name="q6" serializeAs="String">
                <value />
            </setting>
            <setting name="q7" serializeAs="String">
                <value />
            </setting>
            <setting name="q8" serializeAs="String">
                <value />
            </setting>
            <setting name="q9" serializeAs="String">
                <value />
            </setting>
            <setting name="q10" serializeAs="String">
                <value />
            </setting>
            <setting name="q11" serializeAs="String">
                <value />
            </setting>
            <setting name="q12" serializeAs="String">
                <value />
            </setting>
            <setting name="q13" serializeAs="String">
                <value />
            </setting>
            <setting name="q14" serializeAs="String">
                <value />
            </setting>
            <setting name="q15" serializeAs="String">
                <value />
            </setting>
            <setting name="q16" serializeAs="String">
                <value />
            </setting>
            <setting name="q17" serializeAs="String">
                <value />
            </setting>
            <setting name="q18" serializeAs="String">
                <value />
            </setting>
            <setting name="q19" serializeAs="String">
                <value />
            </setting>
            <setting name="q20" serializeAs="String">
                <value />
            </setting>
            <setting name="q21" serializeAs="String">
                <value />
            </setting>
            <setting name="q22" serializeAs="String">
                <value />
            </setting>
            <setting name="q23" serializeAs="String">
                <value />
            </setting>
            <setting name="q24" serializeAs="String">
                <value />
            </setting>
            <setting name="q25" serializeAs="String">
                <value />
            </setting>
            <setting name="q26" serializeAs="String">
                <value />
            </setting>
            <setting name="q27" serializeAs="String">
                <value />
            </setting>
            <setting name="q28" serializeAs="String">
                <value />
            </setting>
            <setting name="q29" serializeAs="String">
                <value />
            </setting>
            <setting name="q30" serializeAs="String">
                <value />
            </setting>
            <setting name="q31" serializeAs="String">
                <value />
            </setting>
            <setting name="q32" serializeAs="String">
                <value />
            </setting>
            <setting name="q33" serializeAs="String">
                <value />
            </setting>
            <setting name="q34" serializeAs="String">
                <value />
            </setting>
            <setting name="q35" serializeAs="String">
                <value />
            </setting>
            <setting name="q36" serializeAs="String">
                <value />
            </setting>
            <setting name="q37" serializeAs="String">
                <value />
            </setting>
            <setting name="q38" serializeAs="String">
                <value />
            </setting>
            <setting name="q39" serializeAs="String">
                <value />
            </setting>
            <setting name="q40" serializeAs="String">
                <value />
            </setting>
            <setting name="q41" serializeAs="String">
                <value />
            </setting>
            <setting name="q42" serializeAs="String">
                <value />
            </setting>
            <setting name="q43" serializeAs="String">
                <value />
            </setting>
            <setting name="q44" serializeAs="String">
                <value />
            </setting>
            <setting name="q45" serializeAs="String">
                <value />
            </setting>
            <setting name="q46" serializeAs="String">
                <value />
            </setting>
            <setting name="q47" serializeAs="String">
                <value />
            </setting>
            <setting name="q48" serializeAs="String">
                <value />
            </setting>
            <setting name="q49" serializeAs="String">
                <value />
            </setting>
            <setting name="q50" serializeAs="String">
                <value />
            </setting>
            <setting name="q51" serializeAs="String">
                <value />
            </setting>
            <setting name="q52" serializeAs="String">
                <value />
            </setting>
            <setting name="q53" serializeAs="String">
                <value />
            </setting>
            <setting name="q54" serializeAs="String">
                <value />
            </setting>
            <setting name="q55" serializeAs="String">
                <value />
            </setting>
            <setting name="q56" serializeAs="String">
                <value />
            </setting>
            <setting name="q57" serializeAs="String">
                <value />
            </setting>
            <setting name="q58" serializeAs="String">
                <value />
            </setting>
            <setting name="q59" serializeAs="String">
                <value />
            </setting>
            <setting name="q60" serializeAs="String">
                <value />
            </setting>
            <setting name="q61" serializeAs="String">
                <value />
            </setting>
            <setting name="q62" serializeAs="String">
                <value />
            </setting>
            <setting name="q63" serializeAs="String">
                <value />
            </setting>
            <setting name="q64" serializeAs="String">
                <value />
            </setting>
            <setting name="q65" serializeAs="String">
                <value />
            </setting>
            <setting name="q66" serializeAs="String">
                <value />
            </setting>
            <setting name="q67" serializeAs="String">
                <value />
            </setting>
            <setting name="q68" serializeAs="String">
                <value />
            </setting>
            <setting name="q69" serializeAs="String">
                <value />
            </setting>
            <setting name="q70" serializeAs="String">
                <value />
            </setting>
            <setting name="q71" serializeAs="String">
                <value />
            </setting>
            <setting name="q72" serializeAs="String">
                <value />
            </setting>
            <setting name="q73" serializeAs="String">
                <value />
            </setting>
            <setting name="q74" serializeAs="String">
                <value />
            </setting>
            <setting name="q75" serializeAs="String">
                <value />
            </setting>
            <setting name="q76" serializeAs="String">
                <value />
            </setting>
            <setting name="q77" serializeAs="String">
                <value />
            </setting>
            <setting name="q78" serializeAs="String">
                <value />
            </setting>
            <setting name="q79" serializeAs="String">
                <value />
            </setting>
            <setting name="q80" serializeAs="String">
                <value />
            </setting>
            <setting name="c1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c11" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c12" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c13" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c14" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c15" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c16" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c17" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c18" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c19" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c20" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c21" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c22" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c23" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c24" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c25" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c26" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c27" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c28" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c29" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c30" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c31" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c32" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c33" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c34" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c35" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c36" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c37" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c38" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c39" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c40" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="count" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pass" serializeAs="String">
                <value />
            </setting>
            <setting name="c41" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c42" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c43" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c44" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c45" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c46" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c47" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c48" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c49" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c50" serializeAs="String">
                <value>0</value>
            </setting>
        </GrandiCube.MySettings>
    </userSettings>
</configuration>
